<div class="hero-unit">
  <h1>{{$ 'hi' }}</h1>
  <p>{{$ 'logged-in-as'}}{{ user.email }}.</p>
  <p><button class="btn btn-danger logout" data-url="{{ urls.base_logout }}">{{$ 'logout'}}</button></p>
</div>
